.navigation {
	grid-column: 1 / 2;
	grid-row: 1 / 3;

	display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
}

.navigation__logo {
	display: block;
	width: max-content;
	margin: 24px 0 20px 30px;
}

.navigation__picture {
	display: flex;
}

.navigation__list {
	@include reset-list;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: auto;

	&::-webkit-scrollbar {
  	width: 1px;
  	background-color: rgba(255, 255, 255, 0.9);
	}

	&::-webkit-scrollbar-thumb {
  	background: #E4E8FC;
	}
}

.navigation__item {

	&--current {
		.navigation__link {
			background-color: #F1F3FE;
			font-weight: 500;

			&::before {
				content: '';
				width: 6px;
				height: 100%;
				background-color: #576BCC;
				position: absolute;
				left: 0;
				top: 0;
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
			}
		}

		.navigation__text {
			font-weight: 500;
			color: #576BCC;
		}

		svg {
			stroke: #576BCC;
		}
	}

	&--settings {
		margin-top: auto;
	}
}

.navigation__link {
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 18px 30px;

	position: relative;

	&:hover::before {
		content: '';
		width: 6px;
		height: 100%;
		background-color: #576BCC;
		position: absolute;
		left: 0;
		top: 0;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	&:hover {
		background-color: #f1f3fe;
	}
}

.navigation__icon {
	margin-right: 13px;

	svg {
		stroke: #576BCC;
		fill: transparent;
	}
}

.navigation__text {
	color: #3C425F;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
}