.search {
	height: 100%;
}

.search__button {
	padding: 0;
	margin: 0;
	margin-right: 12px;
	border: none;
	background-color: transparent;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.search__field {
	width: calc(100% - 200px);
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	padding: 30px 20px;
	border: none;
	color: #B4BEF0;

	&::placeholder {
		color: #B4BEF0;
	}

	&:focus {
		outline: 2px solid #b4bef0;
	}
}

.search {
	display: flex;
	align-items: center;
}