html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 1440px;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 280px auto;
  grid-template-rows: auto 1fr auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}